/*Contenedor*/
.productos {
    margin-top: 20rem;
    background-image: url("../../img/fondo con logo.jpg");
    height: 100vh;
    min-height: 80rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.productos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.productos {
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 32rem;
}

.productos .title {
    color: var(--blanco);
    padding-top: 2rem;
    font-size: 1.5rem;
}

.title h1 {
    font-weight: 600;
    padding-bottom: 2rem;
    color: var(--blanco);
}

.productos .texto {
    color: var(--blanco);
    padding-bottom: 2rem;
    margin: 1rem;

}

.texto p {
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 2rem;
}

/*Imagenes contenedor*/

.imge {
    color: var(--blanco);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.imge img {
    width: 20rem;
    height: 20rem;

}

.imge img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.imge p {
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem;

}

.contenido-imagenes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

}

.imagenes1 {
    padding-top: 3rem;
}